<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Itema</a>
  <a href="#news">Suksesshistorier</a>
  <a href="#contact">Vår kompetanse</a>
  <a href="#about">Jobb hos oss</a>
  <a href="#about">Kontakt</a>
  <a href="javascript:void(0);" class="icon" onclick="togglemenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="outer-wrapper">
  <div class="bottom-line">
    <div class="a-parallax-1 inner-wrapper">
      <div class="front-banner banner-1">I verdensklasse fra Trondheim</div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="b-ansatte inner-wrapper">
      <div class="ansatte-left numbers-1">
        <p>
          30 ansatte
        </p><p>
          420 års erfaring
        </p>
      </div>
      <div class="ansatte-right article-1">
        IT-konsulenter
        30 engasjerte, inkluderende og kunnskapsrike medarbeidere, i verdensklasse, byr Itema på. Intet mindre!
        Trenger du ekspertkompetanse i en periode uten at du ønsker å ansette?
        Eller har du behov for ekstra kapasitet i ditt IT-prosjekt for å rekke en viktig tidsfrist?
        Ved å leie en erfaren systemutvikler så lenge du ønsker, og med den kompetansen du trenger, kan du senke skuldrene og lettere lykkes med å nå dine mål. Itemakonsulentene tar ansvar, og er både rådgivere og effektive do-ere. Med solid og lang erfaring gir vi råd slik at du kan ta smarte og riktige teknologivalg. Vår kunnskap om metodikk og hensiktsmessige verktøy bidrar til en smidig utvikling av brukervennlige og robuste løsninger.
        Ønsker du å sette bort hele utviklingsprosjektet, så hjelper vi deg med det også.
      </div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="c-parallax-2 inner-wrapper"></div>
  </div>
  <div class="bottom-line">
    <div class="d-success wrapper inner-wrapper">
      <div class="box success-1">1</div>
      <div class="box success-2">2</div>
      <div class="box success-3">3</div>
      <div class="box success-4">4</div>
      <div class="box success-5">5</div>
      <div class="box success-6">6</div>
      <div class="box success-7">7</div>
      <div class="box success-8">8</div>
      <div class="box success-9">9</div>
      <div class="box success-10">10</div>
      <div class="box success-11">11</div>
      <div class="box success-12">12</div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="e-work inner-wrapper">
      Jobb hos oss
    </div>
  </div>
  <div class="bottom-line">
    <div class="f-contact inner-wrapper">
      Kontaktinformasjon
    </div>
  </div>  
</div>